/* stylemobile.css */
body {
    background-color: hsl(204, 43%, 93%);
    color: hsl(218, 22%, 67%);
    font-family: "Karla", sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    width: 375px;
}

p {
margin-left: 30px;
padding-bottom: 10px;
margin-left: 30px;
margin-right: 30px;
line-height: 2em;
}

h1 {
color: hsl(179, 62%, 43%);
font-weight: bold;
margin-left: 30px;
margin-right: 30px;
padding-top: 10px;
padding-bottom: 10px;
font-size: 1.5em;
}

h2 {
margin-left: 30px;
margin-right: 30px;
padding-top: 10px;
font-weight: bold;
font-size: 1.25em;
}

.main {
display: flex;
flex-flow: column;
width: auto;
border-radius: 10px;
box-shadow: 0 0 2em hsl(204, 43%, 80%);
margin-top: auto;
margin-bottom: auto;
margin-left: auto;
margin-right: auto;
}

.bloc1 {
background-color: white;
display: flex;
flex-flow: column;
width: auto;
border-radius: 10px 10px 0px 0px;
}

.bloc2 {
    display: flex;
    flex-flow: column;
    width: 100%; 
    border-radius: 0px 0px 10px 10px; 
}

.bloc21 {
display: flex;
flex-flow: column;
background-color: hsl(179, 62%, 43%);
color : white;
width: auto;


}

.bloc22 {
display: flex;
flex-flow: column;
background-color: hsl(179, 47%, 52%);
color : white;
width: auto;
border-radius: 0px 0px 10px 10px;
}

.button {
display: flex;
align-items: center;
justify-content: center;
background-color: hsl(71, 73%, 54%);
width: 85%;
margin-left: 30px;
margin-right: 30px;
padding-top: 3%;
padding-bottom: 3%;
border-radius: 5px;
box-shadow: 0 0 2em hsl(179, 62%, 30%);
margin-bottom: 25px;
cursor: pointer;
text-decoration: none;
transition: background-color 1s;
}

.button:hover{
background-color: hsl(71, 73%, 40%);

}

#price {
font-weight: bold;
font-size: 2em;
line-height: 1.5em;
margin-right: 10px;
}

#month {
color: hsl(204, 43%, 93%);
line-height: 1.5em;
}

#why {
font-size: 0.8em;
color: hsl(204, 43%, 93%);
line-height: 1.7em;
}

#chapeau {
color: hsl(71, 73%, 54%);
font-weight: bold;
margin-left: 30px;
margin-right: 30px;
}